{% extends 'base.html' %}

{% block title %}
<title>{{ title }}</title>
{% endblock %}
    

{% block content %}

    <center><p class="h1">Про автора</p></center> 

    <div class="grid-container">
        <div class="item1">
            <left><h2><p>Привіт, друзі!</p></h2></left>
            <left><h4><p>Мене звати Ектор Хіменес-Браво, і я щасливий вас вітати на моєму кулінарному шляху.</p></h4></left>
            <left><h4><p>Я маю честь поділитися своїми улюбленими рецептами та секретами готування з вами.</p></h4></left>
            <left><h4><p>Моя пригода з кулінарією почалася в дитинстві, коли разом із бабусею ми готували</p></h4></left>
            <left><h4><p>найсмачніше рагу та ароматний хліб. Ці незабутні миті вплинули на мене, і я вирішив</p></h4> </left>
            <left><h4><p>віддати своє життя гастрономії.</p></h4></left>
            <left><h4><p>Протягом багатьох років я вивчав кулінарні традиції різних країн, пізнавав унікальні</p></h4></left>
            <left><h4><p>смаки та методи приготування. Власна кухня - це мій лабораторний кабінет, де я поєдную</p></h4></left>
            <left><h4><p>сміливі смакові експерименти з класичними рецептами.</p></h4></left>
            <left><h4><p>На цьому сайті я збираю найулюбленіші рецепти, які стали справжньою перлиною в моїй </p></h4></left>
            <left><h4><p>кулінарній колекції. Ви знайдете тут все: від смачних сніданків до вишуканих вечерь.</p></h4></left>
            <left><h4><p>Моя мета - надихати вас на нові смакові відкриття та розкрити секрети вдалого готування.</p></h4></left>
            <left><h4><p>Будь ласка, приєднуйтесь до мене в цьому кулінарному подорожі.</p></h4></left>
            <left><h4><p>Разом ми відкриємо світ смаку та насолоди!.</p></h4></left>
        </div>

        <div class="item2"><img src="{{ url_for('static', path='images/ector_1.png') }}" alt="" width="450" height="590"></div>
    </div>

    <style>
        .grid-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40vh;
            }

        

        .item1 {
            margin-top: 19%;
            font-size: 80px;
        }

        .item2 {
            margin-top: 20%;
        }
    </style>
    
    
{% endblock %}