{% extends 'base.html' %}

{% block title %}
<title>{{ title }}</title>
{% endblock %}
    

{% block content %}
    <div class="item1"><center><p class="h1">Контакти</p></center></div>

    <div class="item2"><center>Instagram: <a href="https://www.instagram.com/hectorjimenezbravo/">hectorjimenezbravo</a>, <a href="https://www.instagram.com/hector.reserve/">hector.reserve</a></center></div>

    <style>
        .item1 {
            font-size: 40px;
            margin-top: 15%;
        }

        .item2 {
            font-size: 40px;
            margin-top: 5%;
        }
        
    </style>


{% endblock %}
