{% extends 'base.html' %}

  {% block title %}
  <title>{{ title }}</title>
  {% endblock %}


{% block content %}
<div class="item">
  <form class="row g-3" method="get" onsubmit="sendMessage(event); window.location.href = '/web/menu'">

    <div class="mb-3">
      <h3><center><label for="exampleFormControlTextarea1" class="form-label">{{ title }}</label></center></h3>
      <textarea class="form-control" id="messageText" rows="20" required minlength="5"></textarea>
    </div>

    <button class="btn btn-outline-success" type="submit">Відправити повідомлення</button>


  </form>
</div>


<style>
  .item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49%, -49%);
    width: 500px;
  }
</style>

{% endblock %}